@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Voltaire&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#chat_container {
  flex: 1;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-bottom: 20px;
  scroll-behavior: smooth;
}

/* hides scrollbar */
#chat_container::-webkit-scrollbar {
  display: none;
}

.wrapper {
  width: 100%;
  padding: 15px;
}

.ai div .message {
  font-family: 'Arsenal', sans-serif;
}

form {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  border: 2px solid #10a37f;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: #40414f;
}

textarea {
  width: 100%;
  font-size: 18px;
  color: #fff;
  padding: 10px;
  background: transparent;
  border-radius: 5px;
  border: none;
  outline: none;
  font-family: 'Cutive Mono', monospace;
  resize: none;
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
  background: transparent;
}

form img {
  width: 30px;
  height: 30px;
}

.profile {
  width: 36px;
  height: 36px;
  border-radius: 5px;
  background: #210e74;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ai .profile {
  background: #033528;
}

.chat .profile img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.chat {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  font-family: 'Allura', cursive;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;
}

div .message {
  max-width: 95%;
  text-align: justify;
  font-size: 1.2rem;
  color: #dcdcdc;
}

@media (max-width: 768px) {
  #chat_container {
    max-width: 100%;
  }
  
  form {
    max-width: 100%;
  }
}
