* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alegreya Sans", sans-serif;
}

body {
  background: #343541;
}

.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

h1 {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

p {
  color: #dcdcdc;
  margin-bottom: 1rem;
}

/* Responsive design */
@media screen and (max-width: 768px) {
  main {
    padding: 10px;
  }
}
